.producto {
  cursor: pointer;
  text-align: center;
  flex: 0 0 auto;
  height: 95%;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #ffffff;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10%;
}

.producto .descuento {
  background-color: red;
  color: white;
  padding: 0.3125rem 0.625rem;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
}

.dark-mode .producto {
  background-color: #2d2d2d;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.dark-mode .producto .descuento {
  background-color: #ff5722;
  color: #ffffff;
}
