.categorias {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  font-family: sans-serif;
}

.categoria {
  text-align: center;
  width: 30%;
}

.categoria img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.ver-mas {
  display: block;
  margin-top: 10px;
  color: blue;
  text-decoration: none;
  text-align: left;
}

.ver-mas:hover {
  text-decoration: underline;
  color: rgb(23, 23, 162);
}
