<header class="header">
  <div class="logo">
    <a [routerLink]="['/']"><img src="assets/amazont.png" alt="Logo" /></a>
  </div>

  <div class="search-container">
    <select class="dropdown">
      <option>All</option>
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
    <input type="text" class="search-input" placeholder="Buscar en Amazon't" />
    <div class="search-button-container">
      <button class="search-button">
        <img src="assets/search 1.png" alt="Buscar" />
      </button>
    </div>
  </div>
  <div class="icons">
    <img src="assets/cart.png" alt="Carrito" />
    <img src="assets/settings.png" alt="Ajustes" />
    <a (click)="toggleBackground()" class="toggle-button">
      <img [src]="isDarkMode ? 'assets/sol1.png' : 'assets/luna1.png'" alt="Toggle Background" />
    </a>
  </div>
</header>
