.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #D9D9D9, #737373);
}

.logo h1 {
  font-size: 24px;
}

img {
  max-width: 120px;
  height: auto;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 0px solid #ccc;
  background-color: #f0f0f0; /* Color de fondo general */
}

.dropdown {
  background-color: transparent;
  margin-right: 10px;
  border: none;
  margin-left: 10px;
}

.search-input {
  flex: 1;
  border: none;
  background-color: #e0e0e0; /* Color de fondo del input */
  padding: 25px;
}

.search-button-container {
  background-color: #f9a825; /* Color del botón */
  border-radius: 0 20px 20px 0; /* Bordes redondeados a la derecha */
  padding-top: 2px;
  padding-bottom: 1px;
}

.search-button {
  border: none;
  background: none; /* Sin fondo para el botón */
  padding: 10px;
  cursor: pointer;
}

.icons img {
  width: 24px;
  margin-left: 15px;
}
