<section class="recomendados">
  <h2>Recomendados del día</h2>
  <div class="recomendaciones">
    <div class="recomendado">
      <img src="assets/belleza.png" alt="Belleza" />
    </div>
    <div class="recomendado">
      <img src="assets/regalos.png" alt="Regalos" />
    </div>
    <div class="recomendado">
      <img src="assets/regalos2.png" alt="Regalos" />
    </div>
    <div class="recomendado">
      <img src="assets/regalos3.png" alt="Regalos" />
    </div>
  </div>
  <p>Belleza y Regalos para tus seres queridos</p>
  <div class="hola">

  </div>
</section>
