
.recomendados {
  text-align: center;
  margin: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.recomendaciones {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.recomendado img {
  width: 220px;
  height: auto;
  border-radius: 10px;
}

.recomendado {
  cursor: pointer; /* Cambia el cursor a una mano al pasar sobre la recomendación */
  text-align: center;
  transition: transform 0.3s; /* Suaviza la transición */
}

.recomendado:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la recomendación al pasar el mouse */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-top: 10px;
}
