.ofertones {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  height: auto;
}

.carrusel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  margin: 0;
}

.ofertas {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.flecha {
  width: 50px;
  height: 50px;
  border: 0px solid #ccc;
  border-radius: 50%;
  background-color: #1a1a1a;
  color: white;
  font-size: 1.125rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 2%;
}

.flecha:hover {
  background-color: #F19D38;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: black;
}

h1{
  text-align: center;
  margin-top: 1em;
  font-size: 3vw;
  width: 100%;
}

.hola
 {
  height: 2rem;
 }
