.producto-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  
  .imagen-principal img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
  }
  
  .galeria-imagenes {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .galeria-imagenes img {
    width: 100px;
    height: auto;
    border-radius: 10px;
  }
  
  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .opiniones, .informacion-adicional {
    margin-top: 2rem;
    width: 100%;
    max-width: 800px;
    text-align: left;
  }
  .dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
  }