.producto-detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: 'Roboto', sans-serif; /* Afegir la font */
}

.producto-detalle:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.producto-detalle .imagen-principal img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.producto-detalle .galeria-imagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.producto-detalle .galeria-imagenes img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.producto-detalle .galeria-imagenes img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.producto-detalle h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.producto-detalle p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 10px;
}

.producto-detalle .precio {
  font-size: 1.5rem;
  color: #e91e63;
  margin-bottom: 20px;
}

.producto-detalle .popularidad {
  font-size: 1.2rem;
  color: #ff9800;
  margin-bottom: 20px;
}

.producto-detalle button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #e91e63;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.producto-detalle button:hover {
  background-color: #d81b60;
}

.producto-detalle .opiniones {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  text-align: left;
}

.producto-detalle .opiniones h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.producto-detalle .opiniones .opinion {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.producto-detalle .opiniones .opinion p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}

.dark-mode .producto-detalle {
  background-color: #2d2d2d;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.dark-mode .producto-detalle h1,
.dark-mode .producto-detalle p,
.dark-mode .producto-detalle .precio,
.dark-mode .producto-detalle .popularidad,
.dark-mode .producto-detalle .opiniones h2,
.dark-mode .producto-detalle .opiniones .opinion p {
  color: #ffffff;
}

.dark-mode .producto-detalle button {
  background-color: #d81b60;
}

.dark-mode .producto-detalle button:hover {
  background-color: #c2185b;
}

* {
  margin-right: -8px;
  margin-left: -8px;
}